*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    width: 100%;
    padding: 20px;
}


/* Section1 */



/* Section2 */


/* Section3 */



/* Section4 */



/* Section5 */



/* Section6 */




/* Careers */



/* contactus */




/* events */




/* Login */





/* registration */